{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static "tourism/base.css" %}">
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body dir="rtl">
      {% block content %}
        <div id="header">
           {% block header %}
              <table style="width:100%;">
                <tr>
                  <th><strong> <p style="font-size: 25px;"> بازارچه های صنایع دستی  </p> </strong></th>

                  <th> <a style="color: black;text-decoration: none;" href="{% url 'babolsar' %}" >  معرفی شهرستان بابلسر / <a style="color: black;text-decoration: none;" href="{% url 'help' %}" >  راهنما </a> </a></th>
                  <th> <a style="color: black;text-decoration: none;" href="{% url 'login' %}" >  ورود </a></th>
                  <th> <a style="color: black;text-decoration: none;" href="{% url 'register' %}" >  عضویت </a></th>

                </tr>
              </table>
           {% endblock %}
         </div>

        <div id="menue">
           {% block menue %}
              <div class="scrollmenu">
                <a href="{% url 'home' %}">صفحه اصلی</a>
                <a href="{% url 'constrain' %}">محدودیت ها</a>
                <a href="{% url 'location' %}">مکان های پیشنهادی</a>
                <a href="{% url 'home' %}">تعیین مناطق مناسب</a>
                <a href="{% url 'sus' %}"> ارزیابی سیستم </a>
              </div>

           {% endblock %}
        </div>
        <div id="main">  {% block main %} {% endblock %} </div>
        <div id="footer"> {% block footer %} {% endblock %} </div>
      {% endblock %}
  </body>
</html>
